[submodule "src/submodule/jp_qcew"]
	path = src/submodule/jp_qcew
	url = https://github.com/gitinference/jp-qcew.git
[submodule "src/submodule/aea"]
	path = src/submodule/aea
	url = https://github.com/ouslan/aeasp-2025.git
